---
workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

stages:
  - build
  - git-sync

build:
  stage: build
  image: debian:trixie@sha256:8a4206e9cccfb5dcacb363063c66c39e8ab4aa4b9f601f0ef76a9cca6791bb23
  script:
    - apt-get update -q
    - >-
      DEBIAN_FRONTEND=noninteractive apt-get install -y -q
      make python3-sphinx python3-sphinx-rtd-theme
    - make html
    - mv _build/html/ public/
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_PIPELINE_SOURCE == "trigger"
      when: never
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH

pages:
  extends: build
  rules:
    - if: $CI_PIPELINE_SOURCE == "trigger"
      when: never
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

git-sync:
  stage: git-sync
  image: dkr.boo.tc/bootc/github-gitlab-sync:latest
  script:
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | base64 -d | ssh-add -
    - git sync-remote
        git@github.com:${CI_PROJECT_PATH}.git
        git@git.boo.tc:${CI_PROJECT_PATH}.git
  rules:
    - if: $CI_PIPELINE_SOURCE == "trigger"

# vim: ai ts=2 sw=2 et sts=2 ft=yaml
