---
stages:
  - build
  - git-sync

pages:
  stage: build
  image: bootc/kitchen-sink:buster
  script:
    - apt-get update -q
    - >-
      DEBIAN_FRONTEND=noninteractive apt-get install -y -q
      make python3-sphinx python3-sphinx-rtd-theme
    - make html
    - mv _build/html/ public/
    - mc config host add minio $MINIO_ENDPOINT $MINIO_ACCESS_KEY $MINIO_SECRET_KEY
    - mc mirror --overwrite --remove public/ minio/wiki.boo.tc
  artifacts:
    paths:
      - public
  only:
    - master
  except:
    - triggers

git-sync:
  script:
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | base64 -d | ssh-add -
    - git sync-remote
        git@github.com:${CI_PROJECT_PATH}.git
        git@git.boo.tc:${CI_PROJECT_PATH}.git
  stage: git-sync
  image: quay.io/bootc/github-gitlab-sync:latest
  only:
    - triggers

# vim: ai ts=2 sw=2 et sts=2 ft=yaml
