.embiggen {
	font-size: 150%;
}

p.rubric {
	margin-top: 0;
	font-weight: 700;
	font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
	font-size: 150%;
}

.rst-content code.literal,
.rst-content tt.literal {
	background: initial;
	border: 0;
	padding: 0;
	white-space: normal;
}
